/*  your css code here. If applicable */
.container{
	border:2px solid white;
	border-radius:10px;
	padding:20px;
	margin:20px;
	display:flex;
	justify-content:start;
	align-items:center;
	
}
img{
	width:300px;
	height:150px;
	object-fit:cover;
	margin-right:20px;
}
#btn{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
	
}