/*  your css code here. If applicable */
body{
	border:1px solid white;
}
.hero{
	border:2px solid white;
	border-radius:10px;
	padding:20px;
	margin:20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}
img{
	width:400px;
	height:400px;
	object-fit:cover;
	margin-right:20px;
}
#btn{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;

}
.right{
	display:flex;
	flex-direction:column;
	justify-content:center;
}